:root {
  --primary: #f1f1f1;
  --secondary: #607d8b;
  --text-primary: #212121;
  --text-secondary: #f1f1f1;
}

html {
  font-family: "Domine", serif;
  font-size: 1rem;
}

body {
  margin: 0;
  font-weight: 400;
  line-height: 1.8;
  color: var(--text-primary);
  text-align: left;
  background-color: white;
  z-index: 1;
  position: relative;
}
img {
  border-radius: 0.3rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.5rem;
  margin-top: 0rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.25rem;
}

small {
  font-size: 80%;
  font-weight: 300;
}

a,
a:visited {
  color: inherit;
}

.content {
  z-index: 100;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.head-banner {
  background-color: var(--primary);
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  z-index: 1;
  position: relative;
  padding-top: 6rem;
  overflow: hidden;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0px;
  left: 0px;
  z-index: 3;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

i {
  width: auto;
  height: auto;
  display: block;
  padding: 1rem 3rem;
}
.nav-item {
  flex: 1 1 auto;
  text-align: center;
  text-align: center;
  color: var(--text-primary);
  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition: 0.5s;
  -moz-transition: 0.5s;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  margin-right: 1rem;
  margin-left: 1rem;
  transform: translateY(45px);
  position: relative;
  z-index: 4;
  border-radius: 0.2rem;
}

.nav-link {
  display: block;
  padding: 1rem 3rem;
  text-decoration: none;
  border: 0;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

i {
  z-index: 5;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: visibility 0s, opacity 0.5s;
  -moz-transition: visibility 0s, opacity 0.5s;
  -webkit-transition: visibility 0s, opacity 0.5s;
  -ms-transition: visibility 0s, opacity 0.5s;
  -o-transition: visibility 0s, opacity 0.5s;
  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
}

/* Links inside the dropdown */

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: var(--text-primary);
  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
}

/* Change color of dropdown links on hover */

.nav-item:hover {
  transform: translateY(-3px);
  background-color: var(--secondary);
  color: var(--text-secondary);
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.fullsection {
  background-color: var(--primary);
}

.section-row {
  max-width: 70%;
  width: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.content .section-column .section-row {
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section-column {
  max-width: 70%;
  width: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.subsection {
  margin-bottom: 3rem;
}

.width-40 {
  width: 200%;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}

.pad-right-2 {
  padding-right: 2rem;
}
.pad-left-2 {
  padding-left: 2rem;
}

.text-align-right {
  text-align: right;
}

.table {
  max-width: 100%;
  border: 0;
  border-spacing: 0px;
}

.table th,
.table td {
  padding: 1rem;
  vertical-align: top;
  border: 0px;
}

tr {
  transition-timing-function: ease-out;
  transition: background-color 0.5s, box-shadow 0.5s;
  -moz-transition: background-color 0.5s, box-shadow 0.5s;
}

tbody tr:hover {
  box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}

*:focus {
  outline: 0 !important;
}

a {
  text-decoration-line: none;
  position: relative;
}

.nav-item::after {
  content: "";
  height: 30px;
  width: 30px;
  background-color: var(--primary);
  position: absolute;
  transform: rotate(45deg) translateX(-50%);
  top: -0px;
  left: 50%;
  z-index: -1;

  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition: 0.15;
  -moz-transition: 0.15s;
}
.nav-item:hover:after {
  opacity: 0;
}
.list-padding li {
  padding-top: 0.7rem;
}

.color-secondary {
  background-color: var(--secondary);
}
.head-banner h5 {
  margin-bottom: 6rem;
}

.head-banner h1,
.head-banner h5 {
  margin-left: 15rem;
  color: #f1f1f1;
  z-index: 4;
  position: relative;
}

.alight-center {
  text-align: center;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}

i {
  padding-bottom: 1rem;
  padding-top: 0;
  font-size: 1.75rem;
}

.recipe {
  margin-left: 10px;
  margin-right: 10px;
}

.recipe .image {
  height: 300px;
  width: 300px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.75rem;
  }
  .section-row {
    flex-direction: column;
  }
  .head-banner h1,
  .head-banner h5 {
    margin-left: 1rem;
  }

  blockquote {
    margin: 0;
  }
  .width-40 {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
  }
  .chefImg {
    padding-bottom: 10px;
  }
}
